Repository MercuryTechnologies/nix-your-shell, pull requests merged in 2023-11, with the labels that each got.

#42 Release version 1.3.1
  Cargo.lock
  Cargo.toml
Labels: release

#44 Xonsh support
  README.md
  data/env.xsh
  src/main.rs
  src/shell.rs
Labels: patch

#43 Nushell update
  README.md
  data/env.nu
Labels: patch

#45 Add `--nom` to use `nix-output-monitor`
  src/main.rs
Labels: patch

#47 Add GitHub Actions permissions
  .github/workflows/release.yaml
  .github/workflows/version.yaml
Labels: minor

#48 Release version 1.4.0
  Cargo.lock
  Cargo.toml
Labels: release
